target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Java-specific ignores
*.class
*.jar
*.war
*.log

# IntelliJ IDEA project files
.idea/
*.iml

# Maven / Gradle
*.pom

# System files
.DS_Store
Thumbs.db
